<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>CS316: Spotify App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    html, body, .container-fluid {
      height: 100%;
    }

    .row.content {height: 100%}
    
    /* Set gray background color and 100% height */
    .sidenav {
      position: fixed;
      top: 0;
      background-color: #f1f1f1;
      height: 100%;
      width: auto;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>
</head>

<body>
<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Spotify App</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">My Data</a></li>
        <li><a href="#">My Stats</a></li>
        <li><a href="#">Global Data</a></li>
        <li><a href="#">Global Stats</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h3>Spotify App</h3>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Home</a></li>
        <li><a href="#section2">My Data</a></li>
        <li><a href="#section3">My Stats</a></li>
        <li><a href="#section4">Global Data</a></li>
        <li><a href="#section5">Global Stats</a></li>
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-9">
      <div class="page-header">
        <h1>Welcome, _______ </h1>
      </div>
      <div class="jumbotron well">
        <p>Here's what we know about you so far:</p>
        <div class="row">
          <div class="col-sm-6">
            <img class="img-responsive" src="https://hypsypops.com/wp-content/uploads/2016/12/pie-chart-vs-donut-chart-comparison.png" alt="ChartExample">
          </div>
          <div class="col-sm-5">
            <img class="img-responsive" src="http://www.conceptdraw.com/solution-park/resource/images/solutions/bar-graphs/Graphs-and-Charts-Bar-Charts-Percentage-with-Various-Levels-of-Family-Income.png" alt="GraphExample">
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>Top Songs</h4>
            <ol>
              <li>Baby - Justin Bieber</li>
              <li></li>
              <li></li>
            </ol>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Top Artists</h4>
            <ol>
              <li>Justin Bieber</li>
              <li></li>
              <li></li>
            </ol>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Top Genres</h4>
            <ol>
              <li>Pop</li>
              <li>R&B</li>
              <li>Electronic</li>
            </ol> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Top Friends</h4>
            <ol>
              <li>Justin Bieber</li>
              <li></li>
              <li></li>
            </ol>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
            <p>Text</p> 
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
            <p>Text</p> 
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
            <p>Text</p> 
            <p>Text</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>

