<body>
  <div class= "page-center">
    <h1 class="logo"><%=image_tag("MusaicLogo.png",width:"50%")%> </h1>
    <h4><%= link_to 'Sign in with Spotify', '/auth/spotify' , {:class => "front-link link" } %></h4>
  </div>
</body>

