<%= content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<div class="col-sm-9">
  <div class="row jumbotron">
    <h1>Hello, <%=$spotify_user.name%> </h1>
    <p>Welcome to Musaic, a Spotify Analyzer to discover more about your music.</p>
    <p>Let's <%= link_to "get started", "/preferences", {:class => "link bold hover-black" }%> by choosing what you want to know.</p>
    </div>
  </div>
</div>