/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

:root {
    --bg: #FCFCFC;
    --fnt: #2D2C2C;
    --greyy: #C9EDD4;
    --bred: #603A40;
    --nood: #84596B;
}

body {
	color: var(--fnt);
	background-color: var(--bg);
}

html, body, .row, .sidebar {
	height: 100%;
}

footer {
	position: fixed;
	bottom: 15px;
	right: 15px;
}
