// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, .container {
	height: 100%;
	width: 100%;
	padding: 15px;
}

.link{
	color: var(--fnt);
	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}
.link:visited {
	color: var(--fnt);
}

.front-link {
	padding: 7px;
	border: 2px solid var(--fnt);
}
.front-link:hover {
    text-decoration: none;
    background-color: var(--greyy);
    border: 2px solid var(--fnt);
}

.hover-black:hover {
	color: var(--fnt);
}

.nav>li>a:hover {
	background-color: var(--greyy);
}

.jumbotron {
	color: var(--fnt);
	background-color: none;
	border: 2px solid var(--fnt);
}

.row .jumbotron {
	margin-right: 15px;
}

.logo {
	font-size: 68px;
	margin-bottom: 30px;
}

.page-center {
	width: 100%;
	text-align: center;
	position: relative;
	top: 25vh;
}
