
<div class="col-sm-3 sidebar">
	<h2>Spotify Analyzer</h2>
	<ul class="nav nav-sidebar">
		<li><%= link_to "User Data", '/userpreferences' %></li>
		<li><%= link_to "Global Data", '/globalpreferences' %></li>
		<li><%= link_to "User Information", "/userinfo" %></li>
	</ul>
</div>
