
<div class="col-sm-3 sidebar">
	<h1>Spotify Analyzer</h1>
	<ul class="nav nav-sidebar">
		<li><%= link_to "User Data", '/userdata', {:class => "link" } %></li>
		<li><%= link_to "Global Data", '/databasedata', {:class => "link" } %></li>
		<li><%= link_to "Our Database", "/userinfo", {:class => "link" } %></li>
		<li><%= link_to "Account", "#", {:class => "link" } %></li>
	</ul>
</div>
