
<div class="col-sm-3 sidebar">
	<h2>Musaic</h2>
	<ul class="nav nav-sidebar">
		<li><%= link_to "User Data", "#" %></li>
		<li><%= link_to "Global Data", "#" %></li>
		<li><%= link_to "Our Database", "#" %></li>
		<li><%= link_to "Account", "#" %></li>
	</ul>
</div>
