
<div class="col-sm-3 sidebar">
	<h2>Musaic</h2>
	<ul class="nav nav-sidebar">
		<li><%= link_to "User Data", '/userdata' %></li>
		<li><%= link_to "Global Data", '/databasedata' %></li>
		<li><%= link_to "Preferences", "/preferences" %></li>
		<li><%= link_to "User Information", "/userinfo" %></li>
		
	</ul>
</div>
